:root{
    --bckr-color-button:rgb(41, 40, 40);
    --bckr-color-wrapper:rgb(134, 202, 131);
}

.food{
    font-family: Raleway, serif;
}

.food-img{
    text-align: center;
}

.food-img img{
   width:450px;
}

.wrapper{
    padding-bottom:5vh;

}

.infos{
    display: flex;
    justify-content: space-between;
}

.input{
    width:30px;
    border:none;
    text-align: center;
}

.plus,
.minus{
    border-radius: 5px;
    width:30px;
    height: 30px;
    border:none;
    background-color: var(--bckr-color-button);
    color: whitesmoke;
    font-weight: bold;
    margin-top:5px;
}

.text{
    margin-top: 3vh;
}

.price-button{
    display: flex;
    justify-content: space-between;
    margin-top:5vh;
}

.price-button h2{
    font-weight: bold;
}

.price-button button{
    width:50%;
    background-color: var(--bckr-color-button);
    border-radius: 5px;
    color:whitesmoke;

}

/*MEDIA QUERY---------------------*/

@media screen and (max-width: 500px){
    .food-img img{
        width:350px;
    }

    .plus, .minus{
        margin-top:3px;
    }

}
/*450ig jo*/


@media screen and (max-width:450px){
  .infos h1{
    font-size: 1.4rem;
  }  

  .plus, .minus{
    width:25px;
    height: 25px;
}

.input{
    width:25px;
}

.text{
    font-size: 0.9rem;
}

.price-button h2{
    font-size: 1.1rem;
}

.price-button button{
    font-size:0.9rem;
}

}