/*TITLE*/
.cart-title{ 
    text-align: center;
    font-family: 'Lobster', cursive;
    padding-top:3vh;
}


/*ITEMS*/ 
.cart-item{
    display: flex;
    justify-content: space-between;
    border:1px solid black;
    border-radius: 10px;
    margin: 10px;
}

/*image and name */ 
.img-and-name{
    display: flex;
    justify-content: flex-start;
    padding-left:20px;
}

.cart-image{
    margin-top:5px;
}

/*name and price*/ 
.item-name, .item-price{
    padding-top:20px;
    font-weight: bold;
}

.item-name{
    padding-right:20px;
}

.item-price{
    padding-right: 25px;
}


/*button wrapper*/ 
.order-button{
    text-align: center;
    margin-top:50px;
}

/*button*/ 
.order{
    width:30vw;
    height: 8vh;
    border-radius: 10px;
    background-color:  rgb(69, 174, 114);
    color:white;
    font-family: 'Lobster', cursive;
}


.total-price{
    display: flex;
    justify-content: space-between;
    padding-left:20px;
    padding-right: 20px;
    font-weight: bold;
    font-size: 1.3rem;
}


/*MEDIA QUERIES*/ 
@media screen and (max-width:450px){
    .cart-item{
        margin-left:0;
        margin-right:0;
    }

    .item-name, .item-price{
        padding-top:15px;
        font-weight: bold;
    }

}