/* CSS FOR MENU AND MENUITEM */ 



.menu-title{
    position: absolute;
    top:10vh;
    letter-spacing: 4px;
    display: flex;
    justify-content:space-evenly;
    width:100%;
    cursor:pointer;
    background:linear-gradient( green, white, red);
  
}

.menu-title h1{
    padding-top:1.5vh;
    margin-right: 1rem;
}


.foods-box{
    position: absolute;
    left: 4vw;
    top:20vh;
}

.box{
    position: absolute;
    left:4vw;
    top:25vh;
}


.food-box{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    max-width: 1200px;
    margin-top:20vh;
    margin-bottom:20vh;
}

.pizzaNameandImg{
    text-align: center;
    margin-bottom:5vh;
    font-family: 'Lobster', cursive;
    cursor: pointer;
}

/* MEDIA QUERIES --------------------------*/

@media screen and (min-width:1432px){
    .food-box{
        margin-left:8vw;
        margin-right: auto;
    }
}


@media screen and (min-width:1315px){
    .food-box{
        margin-left:13vw;
        margin-right: auto;
    }

    .pizzaNameandImg{
        margin:20px;
    }
}

@media screen and (max-width:1315px) {
    .pizzaNameandImg{
        margin:20px;
    }
}


@media screen and (max-width:900px) {
    .pizza-img{
        width:200px;
    }
}



@media screen and (max-width:650px) {
    .pizza-img{
        width:200px;
    }
}



@media screen and (max-width:450px) {
    .pizza-img{
        width:150px;
    }
}