.menu-title{
    position: absolute;
    left:4vw;
    top:10vh;
}

.foods-box{
    position: absolute;
    left: 4vw;
    top:20vh;
}

.box{
    position: absolute;
    left:4vw;
    top:25vh;
}




