.nav{
    display: flex;  
    justify-content: flex-end;
    position: absolute;
    top:3vh;
    right:2vw;
    list-style-type: none;
    
}

.nav-links{
    color:rgb(23, 23, 23);
    list-style-type: none;
    text-decoration: none;
    margin-right:15px;
}

.back{
    position: absolute;
    top:1.5vh;
    left:2vw;
    border:none;
    background-color: transparent;
    font-size: 1.2rem;
}